[build]
  publish = "dist"
  command = "npm run build"

[functions]
  directory = "netlify/functions"

# SPA fallback
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  conditions = {Role = ["admin"]}

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
